.list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  @media (min-width: 768px) {
    .list {
      margin-left: 32px;
    }
  }
  @media (min-width: 1280px) {
    .list {
      margin-left: 16px;
    }
  }
  