.list {
  display: flex;
  column-gap: 14px;
  margin: 0;
  list-style: none;
}
.listBox {
  display: none;
}
@media screen and (min-width: 1280px) {
  .listBox {
    display: flex;
    column-gap: 14px;
    margin: 0;
    list-style: none;
  }
}

.active {
  text-decoration: none;
  color: #212121;
  font-weight: 700;
}
.NavLink {
  text-decoration: none;
  color: #9b9faa;
  font-weight: 700;
}
