.header {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
.UserInfo {
  margin-left: auto;
  margin-right: 80px;
}

@media screen and (max-width: 767px) {
  .header {
    margin: 20px 20px 20px 16px;
    border-bottom: 2px solid rgb(224, 224, 224);
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin: 20px 32px 32px 16px;
  }
}

@media screen and (min-width: 1280px) {
  .burger {
    display: none;
  }
  .Navigation {
    display: block;
    margin-left: 50px;
  }
  .header {
    margin: 80px 20px 20px 16px;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

/* ---------------------- <Burger menu> --------------------------- */

@media screen and (max-width: 1279px) {
  .UserInfo {
    position: absolute;
    top: 55px;
    right: 10px;
  }
  .leftBlock {
    /* flex-basis: 50%; */
    margin-right: auto;
    white-space: nowrap;
  }
  .rightBlock {
    /* flex-basis: 50%; */
    margin-left: auto;
    white-space: nowrap;
  }
  .burger {
    position: absolute;
    top: 50px;
    right: 10px;
    margin-right: 30px;
    overflow: hidden;
    opacity: 1;
    z-index: 9999;
  }
  .btn {
    font-size: 24px;
    background-color: transparent;
    border: none;
    z-index: 9999;
  }
  .mobileMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    width: 100%;
    height: 100%;
    top: 90px;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    background-color: #264061;
    overflow: hidden;
    opacity: 1;
    z-index: 9999;
  }

  .backdrop {
    z-index: 99;
    background-color: #264061;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); */
  }

  .mobileLink {
    text-decoration: none;
    color: #f0f1f3;
    font-weight: 700;
    text-transform: uppercase;
  }
  .activeLink {
    text-decoration: none;
    color: #212121;
    font-weight: 700;
    text-transform: uppercase;
  }
  .mobileLink:first-child {
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .activeLink:first-child {
    margin-top: 100px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .mobileLink:first-child {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .activeLink:first-child {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}
